.yellow-div {
    width: 1500px;
    padding-left:400px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 25px;
    text-align: justify;
    

  }

.title {
  padding-left: 400px;
  font-family: "Abril Fatface"; 
  font-size: 90px; 
  font-style: normal; 
  font-variant: normal;
}


img { 
  max-width: 100%; 
  height: auto;
  width: auto;
  padding: 20px; 
}