.yellow-div {
    width: 1500px;
    padding-left:400px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 25px;
    
    justify-content: center;
    align-items: center;
  }